# Ignore build output
ann.exe
ann
*.o
*.obj
*.log

# CMake build directories
/build/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
